.container{
    max-width:80%;
    margin:0 auto;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
}

/*
.grid {
    background-color:#444;
    border-radius: 5px;
    padding:10px;
    text-align:center;
    color:#ffffff;
*/


}